<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<h2>user_profile</h2>
       <div align="center"> 
       <dl class="dl-horizontal">
          <dt>name</dt>
          <dd><%= @user.name %></dd><br />
          <dt>email</dt>
          <dd><%= @user.email %></dd><br />
          <dt>age</dt>
          <dd><%= @user.age %></dd><br />
          <dt>area</dt>
          <dd><%= @user.area %></dd><br />
          <dt>other</dt>
          <dd><%= @user.body %></dd><br />
        </dl>
</div>