<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (
      <%= @user.microposts.count %>
        )
      </h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

<h3>user_profile</h3>
       <div align="center"> 
       <dl class="dl-horizontal">
          <dt>name</dt>
          <dd><%= @user.name %></dd><br />
          <dt>email</dt>
          <dd><%= @user.email %></dd><br />
          <dt>age</dt>
          <dd><%= @user.age %></dd><br />
          <dt>area</dt>
          <dd><%= @user.area %></dd><br />
          <dt>other</dt>
          <dd><%= @user.body %></dd><br />
        </dl>

        <%= link_to "edit", edit_user_path, class:"btn btn-info" %>
</div>